.message {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  right: 20px;
}

.imageAndText {
  display: flex;
  /* flex-direction: row-reverse; */
}

.imageAndText img {
  width: 48px;
  height: 48px;
  margin: 10px;
}

.text {
  width: 527px;
  min-height: 60px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(0, 102, 204, 0.684);
}

.text:after {
}

.name {
  display: inline-block;
  position: relative;
  text-align: right;
  /* left: 430px; */
}

.messageText {
}

.time {
  font-size: 15px;
  /* display: inline-block; */
  /* position: relative; */
  /* left: 1205px; */
}
