.buttonsContainer {
  margin-top: 30px;

  margin-left: 150px;
}

.responseContainer {
  display: flex;
  margin-left: 150px;
  margin-bottom: 100px;
}

.imageContainer {
  /* display: inline-block; */
}

.image {
  margin-top: 70px;
  width: 300px;
  height: auto;
}

.textContainer {
  margin-top: 80px;
  margin-left: 70px;
}

.code {
  font-size: 30px;
  font-weight: 500;
  /* color: rgb(1, 165, 50); */
}

.text {
  font-size: 20px;
  font-weight: 400;
}
.info {
  font-size: 20px;
  font-weight: 400;
}
