.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #caf9dd;
}

.sidebar.open {
}

.background {
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav a {
  text-decoration: none;
  color: rgb(31, 48, 28);
}

.nav a:hover {
}

.nav a.active {
  color: red;
  font-weight: 500;
}
.close {
}

.close img {
}
