.sidebar {
  display: flex;
  width: 20%;
  min-height: 100vh;
  background-color: #caf9dd;
  padding-top: 50px;
  position: relative;
  justify-content: center;
}

.sidebar.open {
}

.background {
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.nav a {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(31, 48, 28);
}
a + a {
  margin-top: 40px;
}

.nav a:hover {
  text-decoration: underline;
  /* text-decoration-line: underline; */
}

.nav a.active {
  color: #06c;
  text-decoration: underline;
}

.close {
  width: 20px;
  height: 20px;
  color: rgb(63, 60, 196);
  background-color: #474ae4e0;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close img {
}
