input {
  outline: none;
}

.input:focus {
  background-color: #f3f4f5;
  border: 0.5px solid black;
}

.input {
  display: inline-block;
  width: 372px;
  height: 36px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.superInput {
}

.errorInput,
.input:focus.errorInput {
  border: red 2px solid;
}

.errorInput:focus {
  background-color: #ddcdcd;
}

.error {
  color: red;
  order: -1;
}
span:hover {
  cursor: pointer;
}
