input {
  outline: none;
}

.input:focus {
  background-color: #caaade;
  border: 1px solid black;
}

.input {
  display: inline-block;
  width: 372px;
  height: 36px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.superInput {
}

.errorInput,
.input:focus.errorInput {
  border: red 2px solid;
}

.errorInput:focus {
  background-color: #ddcdcd;
}

.error {
  color: red;
  order: -1;
}
