.colors {
  display: inline-block;
  width: 300px;
  /* flex-basis: 80%; */
  min-height: 100vh;
  flex-grow: 1;
  /* background-color: #ececec; */
  /* color: #0429fd; */
  /* align-self: flex-end; */
  /* display: flex; */
  /* align-items: flex-end; */
}
