.stand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.defaultButton {
  width: 75px;
  height: 25px;
  background-color: #317bdb;
  color: white;
  border-radius: 3px;
  border: none;
}
.defaultButton:hover {
  cursor: pointer;
}

.redButton {
  width: 75px;
  height: 25px;
  background-color: red;
  color: white;
  border-radius: 3px;
  border: none;
}
.redButton:hover {
  cursor: pointer;
}

.disabledButton {
  width: 75px;
  height: 25px;
  background-color: #8ab4ec;
  color: white;
  border-radius: 3px;
  border: none;
}
.disabledButton:hover {
  cursor: pointer;
}
.secondaryButton {
  width: 95px;
  height: 25px;
  background-color: white;
  color: #317bdb;
  border-radius: 3px;
  border: solid 1px #317bdb;
}
.secondaryButton:hover {
  cursor: pointer;
}
