.stand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #e9e7bc;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 48px;
  background-color: #79baec;
}
/* .superInput {
  display: inline-block;
  width: 372px;
  height: 36px;
  border: 1px solid rgb(209, 197, 197);
  border-radius: 5px;
} */

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 60px;
  background-color: #aae89a;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 36px;
  background-color: #dec0eb;
}

/* .myOwnClass {
  background-color: green;
} */
