span {
  display: flex;
  color: black;
  margin-left: 15px;
  gap: 20px;
}

.radio {
  cursor: pointer;
  /* color: black; */
  /* background-color: #000000; */
}

.radio::before {
}

.radio:checked::before {
}

.label {
  display: flex;
}

.label + .label {
  margin-top: 20px;
}

.options {
  input[type="radio"] {
    accent-color: black;
  }
}
