.App {
  height: 100vh;
  width: 1440px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  --header_height: 60px;
  border: solid rgb(204, 0, 51) 1px;
  /* background-color: #884646; */
}

.hw {
  margin: 0 auto;
  padding: 15px;
  flex-shrink: 0;
  /* border: solid rgb(204, 0, 51) 1px; */
}

.hwTitle {
  margin-top: 30px;
  margin-left: 150px;
  color: #000;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
