.App {
  max-width: 1280px;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  --header_height: 60px;
  border: solid rgb(204, 0, 51) 1px;
}

.hw {
  margin: 0 auto;
  padding: 15px;
  /* width: 1280px;
  height: 373px; */
  flex-shrink: 0;
  /* max-width: 1280px; */
  /* min-height: 720px; */
  border: solid rgb(204, 0, 51) 1px;

  /* display: flex;
  justify-content: space-between; */
}

.hwTitle {
  margin-left: 350px;
  color: #000;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* .hw div {
  display: inline-block;

} */
