.App {
  min-height: 100vh;
  width: 1440px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  --header_height: 60px;
  border: solid rgb(204, 0, 51) 1px;
  /* background-color: #884646; */
}

.hw {
  /* display: flex;
  flex-direction: column; */
  margin: 0 auto;
  margin-left: 100px;
  padding: 15px;
  flex-shrink: 0;
}

.hwTitle {
  margin-top: 50px;
  margin-left: 250px;
  /* color: #000; */
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
