.friendMessage {
  position: relative;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  right: 20px;
}

.friendImageAndText {
  display: flex;
}

.friendImageAndText img {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.friendText {
  width: 414px;
  height: 60px;
  flex-shrink: 0;
  margin-left: 10px;
  background-color: #ebe8e87a;
}

.friendText:after {
}

.friendName {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.friendMessageText {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.friendTime {
  color: #000;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 10px;
  padding-left: 10px;
}
