.sendForm {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.textarea {
  width: 776px;
  min-height: 40px;
  flex-shrink: 0;
  resize: none;
  border: 3px solid #06c;
  border-radius: 20px;
}

.button {
  bottom: 16px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background: #06c;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button:hover {
  cursor: pointer;
}
.button:active {
  background: rgba(0, 102, 204, 0.788);
}
