.button {
  min-width: 50px;
  height: 30px;
  padding: 0 10px;
}
.button + .button {
  margin-left: 15px;
}
.secondary {
  background-color: white;
  color: #317bdb;
  border-radius: 5px;
  border: solid 1px #317bdb;
  font-size: 15px;
}

.default {
  background-color: #247bed;
  color: white;
  border-radius: 5px;
  /* border: none; */
  border: 1px solid #abbeff;
  font-size: 15px;
}

.red {
  background-color: rgb(254, 38, 38);
  color: white;
  border-radius: 5px;
  /* border: none; */
  border: 1px solid #ff2802;
  font-size: 15px;
}

.default:hover {
  cursor: pointer;
  height: 30px;
  border: 1px solid #0270ff;
}

.red:hover {
  cursor: pointer;
  height: 30px;
  border: 1px solid red;
}

.secondary:hover {
  cursor: pointer;
  height: 30px;
  background-color: rgb(195, 201, 240);
  border: solid 1px #0a6ff3;
}

.default:active {
  background-color: #406494;
}

.secondary:active {
  background-color: rgb(235, 236, 245);
}

.red:active {
  background-color: rgb(154, 110, 110);
}
.disabled {
  cursor: pointer;
  background-color: #8ab4ec;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}
.disabled:hover {
  cursor: none;
}
