.button {
  width: 162px;
  height: 30px;
}

.secondary {
  background-color: white;
  color: #317bdb;
  border-radius: 5px;
  border: solid 1px #317bdb;
  font-size: 15px;
}

.default {
  background-color: #247bed;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

.red {
  background-color: rgb(254, 38, 38);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

.default:hover {
  cursor: pointer;
  height: 33px;
  border: 3px solid #0270ff;
}

.red:hover {
  cursor: pointer;
  height: 33px;
  border: 3px solid red;
}

.secondary:hover {
  cursor: pointer;
  height: 33px;
  background-color: rgb(195, 201, 240);
  border: solid 3px #0a6ff3;
}

.default:active {
  background-color: #406494;
}

.secondary:active {
  background-color: rgb(235, 236, 245);
}

.red:active {
  background-color: rgb(154, 110, 110);
}
.disabled {
  cursor: pointer;
  background-color: #8ab4ec;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}
.disabled:hover {
  cursor: none;
}
